@font-face {
  font-family: 'bignoodletitling';
  src: url('./bignoodletitling.eot');
  src: local('bignoodletitling'), url('./bignoodletitling.woff') format('woff'), url('./bignoodletitling.ttf') format('truetype');
}
html {
  background-color: #2b2b2b;
}
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
ul {
  text-align: right;
  padding-right: 1.618em;
  height: 4em;
}
li {
  display: inline;
  font-family: bignoodletitling;
  letter-spacing: .12em;
  line-height: 4em;
}
li a {
  text-decoration: none;
  color: #d97516;
  background-color: #282828;
  padding: 0 .35em 0 .35em;
  font-size: 1.7em;
  display: inline-block;
}
header {
  background-color: #282828;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}
#nav a.current {
  color: #006d8c;
}
#nav li:hover {
  background-color: #282828;
  opacity: .5;
}
p {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #006d8c;
  max-height: 250px;
  padding-right: 8em;
  padding-left: 8em;
}
h3 a{
  font-family: bignoodletitling;
  letter-spacing: .1em;
  color: #d97516;
}
footer {
  font-family: bignoodletitling;
  height: 10%;
  background-color: #282828;
  text-align: center;
  display: inline-block;
  width: 100%;
}
footer a{
  text-decoration: none;
  clear: both;
}
.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: bignoodletitling;
  letter-spacing: .04em;
  font-size: 3em;
  opacity: .76;
  color: #d97516;
}
.parallax {
  min-height: 100vh;
  background: transparent;
}
#broadway.parallax{
  min-height: 90vh;
  background: transparent;
}
.paragraphs {
  padding: 1em 0 1em 0;
  font-size: 1.45em;
  overflow: hidden;
}
.descriptions {
    display: inline-block;
  font-size: 1.45em;
  overflow: hidden;
    float: left;
}
.logo {
  height: 4em;
  float: left;
  display: inline-block;
  padding: 1em .8em 1em 1.618em;
}
.break {
  height: .1em;
  background-color: #000;
  clear: both;
}
.bordered {
  border: 2px solid #d97516;
  color: #282828;
  border-radius: .5em;
  padding: .25em;
  background-color: #d97516;
}
.iphone {
  width: 18em;
  display: inline;
}
.mac {
    margin: 0;
    padding: 0;
  width: 40em;
  display: inline;
  float: right;
}
.left {
  float: left;
  display: inline;
  width: 20em;
}