
html {
  background-color: #fbfbfb;
  padding: .7em;
}
a {
  text-decoration: none;
  color: #000000;
}
.gridcontainer1 {
  display: grid;
  height: auto;
  max-width: 600px;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas: 
    "ES BC BF"
    "BS anemone random";
  grid-gap: .65em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.8em;
  background-color: #ffffff;
  text-align: center;
}
.ES {
  grid-area: ES;
  background-color: #f7f7f7;
  padding: 40% 0;
}
.BF {
  grid-area: BF;
  background-color: #f7f7f7;
  padding: 18% 0;
}
.BS {
  grid-area: BS;
  background-color: #f1f1f1;
  padding: 40% 0;
}
.BC {
  grid-area: BC;
  background-color: #f1f1f1;
  padding: 50% 0;
}
.anemone {
  grid-area: anemone;
  background-color: #f7f7f7;
  padding: 40% 0;
}
.random {
  grid-area: random;
  background-color: #fbfbfb;
  padding: 40% 0;
}
.logo {
  width: 61.8%;
}
.broadway {
  width: 100%;
  height: 80%;
}
li {
  display: inline-block;
  padding: 1.5em;
  border: 2px solid #f7f7f7;
}
ul {
  margin: 0;
  text-align: center;
  list-style-type: none;
  width: 100%;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-text {
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  display: flex;
}
.profile {
  height: 50%;
  width: 20%;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-text {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  display: flex;
}
.row {
  position: absolute;
  top: 58.4%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: 1.21em;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "experience education leadership";
  width: 100%;
  height: 36em;
}
.experience {
  grid-area: experience;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 150px;
}
.education {
  grid-area: education;
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 150px;
}
.leadership {
  grid-area: leadership;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 150px;
}
.grid-container3 {
  background-color: #ffffff;
  height: 30em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em;
  grid-gap: 1em;
  text-align: center;
}
.one {
  background-color: #f1f1f1;
}
.two {
  background-color: #f1f1f1;
}
.three {
  background-color: #f1f1f1;
}
.content-all {
  width: 800px;
  height: 500px;
  position: relative;
  margin: auto;
}
.content-img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.carousel {
  width: 100%;
  height: 100%;
}
.icon-left-open {
  position: absolute;
  top: 250px;
  text-decoration: none;
  color: white;
  font-size: 40px;
  left: 0;
}
.icon-right-open {
  position: absolute;
  top: 250px;
  text-decoration: none;
  color: white;
  font-size: 40px;
  right: 0;
}